---
import Tailwind from "./icons/Tailwind.astro"
import Html from './icons/HT.astro'
import JS from './icons/JS.astro'
import Reac from './icons/Reac.astro'
import SASS from './icons/SASS.astro'
import C from './icons/C.astro'
import CSH from './icons/CSH.astro'
import Ts from './icons/TS.astro'

const TAGS = {
    TAILWIND: {
        name: 'Tailwind CSS',
        class: 'bg-[#003159] text-[white]',
        icon: Tailwind,
    },
    HTML: {
        name: 'HTML',
        class: 'bg-[#ff6e38] text-white',
        icon: Html,
    },
    JS:{
        name: 'JavaScript',
        class: 'bg-black text-[#fef977]',
        icon: JS,
    },
    REACT: {
        name: 'React',
        class: 'bg-[#133c44] text-[white]',
        icon: Reac,

    },
    SASS: {
        name: 'SASS',
        class: 'bg-[black] text-[#ffc1e0]',
        icon: SASS,
    },
    C: {
        name: '',
        class: 'bg-[#2f3afd] text-[white]',
        icon: C,
    },
    CSHARP: {
        name: 'C#',
        class: 'bg-[#6f44b5] text-white',
        icon: CSH,
    },
    TS: {
        name: 'TypeScript',
        class: 'bg-[#0f3363] text-white',
        icon: Ts,
    }

}


const PROJECTS = [
    {
        title: 'Project 1',
        description: 'Loremipusm   ',
        link: '#',
        github: '#',
        image: 'https://via.placeholder.com/300x200',
        tags: [TAGS.HTML,TAGS.TAILWIND, TAGS.JS, TAGS.REACT, TAGS.SASS, TAGS.C, TAGS.CSHARP, TAGS.TS]

    }
]
---

{
    PROJECTS.map(({image ,title, description, tags}) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {
                tags.map(tag => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4"/>
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de pantalla del proyecto ${image}`}/>
        </article>
    ))
}